<style>

    .col-md-2 {
        align: center;
        border: 5px solid #444444;
        border-radius: 5px;
        width: 285px;
        height: 400px;

    }

</style>

<div class="container-fluid">
  <div class="jumbotron" align="center">

    <marquee><h1>Welcome to the VETERNARY Appointment Page</h1></marquee>
    <p><%= image_tag "image.jpg"%></p>
    <p class="lead"> Welcome to the login page</p>

  </div>

  


    </div>
</div>


